{% extends "base.html" %}
{% block detail_script %}
    $.getJSON("get_replication_group_list/{{ server_name }}", function(data) {
        rg_list = "";
        $.each(data, function(obj, rg) {
            rg_list = rg_list +
                '<h3 style="padding-left:2em">' +
                '<a href="#' + rg.id +'">'+
                rg.value + '</a></h3><div id="' +
                rg.id + '">Making query...</div>'
        });
    
       $("#details").append(rg_list).accordion();
       $("#details").accordion({
             header: "> div > h3",
             collapsible: true,
             active: false,
             change: function(event, ui) {
                 var clicked = $(this).accordion("option","active");
                 if (clicked > -1) {;
                     guid = ui.newContent.attr("id");
                     if (guid) {
                       $.get("/show_replication/"+guid, function(data) {
                           ui.newContent.empty();
                           ui.newContent.append(data);
                           $("#details").accordion("resize");
                       });
                     }
                 }
             }
         });
    });
{% endblock %}
{% block details %}
<div id="details"></div>
{% endblock %}
