{% extends "base.html" %}
{% block detail_script %}
    $.getJSON("get_replication_group_list/{{ server_name }}", function(data) {
        var rg_list = data;
        $("#search_rg").autocomplete({
            source: rg_list,
            minLength: 2,
            select: function(event, ui) {
                var guid = ui.item.id;
                if (guid) {
                    $.get("/show_replication/"+guid, function(data) {
                        $("#details").empty();
                        $("#details").append(data);
                    })
                };
            }
        });
    });
{% endblock %}
{% block details %}
<div class="summary ui-widget-content ui-corner-all">
  <h2>Replication Details</h2>
  <div class="ui-widget">
     <label for="search_rg">Search: </label>
     <input id="search_rg" />
  </div>
  <div id="details">
  </div>
</div>
{% endblock %}
