<div
   class="tool-tipped"
   onmouseover="tooltip.show('ONLINE:{% for c in conn_green %}<br/>{{ c }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_green.png'/>
  {{ conn_count_G }}
</div>

<div
   class="tool-tipped"
   onmouseover="tooltip.show('CONNECTING:{% for c in conn_yellow %}<br/>{{ c }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_yellow.png'/>
  {{ conn_count_Y }}
</div>

<div
   class="tool-tipped"
   onmouseover="tooltip.show('OFFLINE/ERROR:{% for c in conn_red %}<br/>{{ c }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_red.png'/>
  {{ conn_count_R }}
</div>
