<div
   class="tool-tipped"
   onmouseover="tooltip.show('OK:{% for rg in RGs_green %}<br/>{{ rg }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_green.png'/>
  {{ RGs_count_G }}
</div>

<div
   class="tool-tipped"
   onmouseover="tooltip.show('TROUBLE:{% for rg in RGs_yellow %}<br/>{{ rg }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_yellow.png'/>
  {{ RGs_count_Y }}
</div>

<div
   class="tool-tipped"
   onmouseover="tooltip.show('WARNING:{% for rg in RGs_red %}<br/>{{ rg }}{% endfor %}');"
   onmouseout="tooltip.hide();">
  <img class="status-icon" src='./static/icon_red.png'/>
  {{ RGs_count_R }}
</div>
